
.navCart {
    position: relative;
    cursor: pointer;
}
.navCart span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    background: rgb(173, 2, 2);
    line-height: 1;
    color: #fff;
}
.detail-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.delete{
    position: absolute;
    top: 0px;
    right: 15px;
    color: #c83f3f;
    font-weight: 900;
    font-size: 1.3em;
    cursor: pointer;
}
.total{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.total a{
    text-decoration: none;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
}
.total h3{
    margin-right: 50px;
    color: crimson;
}
.cart-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}
.form-checkout{
    width: 50%;
    margin: 20px 0;
}
.img-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.img_detail-checkout{
    width: 50px;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 0;
    margin-left: 10px;
}
.img-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 100px;
}
.img-descripcion h2{
    margin: 0;
}
.descripcion{
    margin: 0;
}
.title-descripcion{
    display: flex;
    flex-direction: column;
}
.table td, .table th {
    padding: .20rem;
    vertical-align: middle;
}
.quit{
    text-align: center;
    cursor: pointer;
}
.quit_icon{
    background-color: rgba(10,10,10,.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;
}
.quit_icon::before{
    height: 2px;
    width: 50%;
}
.quit_icon::after{
    height: 50%;
    width: 2px;
}
.quit_icon::before, .quit_icon::after{
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}
