.detail{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
  box-shadow: 0px 0px 5px 0px rgba(79,79,79,0.83);
-webkit-box-shadow: 0px 0px 5px 0px rgba(79,79,79,0.83);
-moz-box-shadow: 0px 0px 5px 0px rgba(79,79,79,0.83);
}
.img-detail{
    max-width: 300px;
    min-width: 290px;
    height: 400px;
    padding: 20px 0;
    display: block;
    object-fit: cover;
    border-radius: 4px;
}
.descripcion-container{
    width: 500px;
    min-width: 290px;
    margin: 15px;
}
.title-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.title-container h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-size: 2em;
}
.title-container span{
    color: crimson;
    font-weight: 500;
    font-size: 1.3em;
}
.detail p{
    line-height: 1.5;
    margin: 15px 0;
}
.btn-cart{
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
.conter-container{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0;
}
.conter-container button{
    width: 40px;
    padding: 1px 2px;
}
.conter-container span{
    margin: 0 10px;
}


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #ccc;
  color: #666;
}